{% extends "game_main.html" %}
{% block content %}
<div class="col-12">
    <div style=" text-align: center ;margin-bottom: 25px;">
            <h3>King {{player.player_name}}, Thank you paying attetion to our Farmers in {{village_data.city_name}}</h3>
            
    </div>

</div>

<div class="game_main_row">
<div class="col-12"  >
    <div class=" col-sm-12 col-md-12 col-lg-4">
        <div >
            <h2 class="game_main_image_title"> Farm </h2>
            <h2 class="village_image_city_level"> Level: {{village_data.farm}}</h2>
            <a  href="{{url_for('village')}}"><img src="static/images/farm_air_1.jpg" alt="farm image"></a>
        </div>

        <div >
            <h4 > Cost for Next Level: <br> {{20 * (2 ** village_data.farm) }} Gold and {{50 *  (2 ** village_data.farm)}} Wood</h4>
            <a class="btn btn-primary" href="{{url_for('farm_level_up')}}">Increase Farm Level</a>
        </div>
        

    </div>

    <div class=" col-sm-12 col-md-12 col-lg-4">

            <table class="table table-dark table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Farming Imformation</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Farming Area Size:</td>
                        <td>{{village_data.farm}}</td>
                       </tr>
                      <tr>
                        <td>Total Food Production Per Year</td>
                        <td>{{population_data.farmer * 10 }}</td>
                      </tr>
                      <tr>
                            <td>Farmers:</td>
                            <td>{{population_data.farmer}}</td>
                        </tr>
                        <tr>
                            <td>Unassigned Poeple:</td>
                            <td>{{population_data.unassingned_population}}</td>
                        </tr>
                        <tr>
                            <td>Total Farm Capatity to Assign Farmer:</td>
                            <td>{{village_data.farm * 1000}}</td>
                        </tr>
                    </tbody>
                  </table>
    
                  <div>
                    <h4>Manage Farmers</h4>
                    <h6>Assign Farmers</h6>
                      <form action="{{ url_for('assin_farmers') }}" method="POST">
                          <select name="assin_farmers" >
                              <option value="1">Assing 1 Farmer to the Farm  </option>
                              <option value="10">Assing 10 Farmer to the Farm</option>
                              <option value="50">Assing 50 Farmer to the Farm</option>
                              <option value="100">Assing 100 Farmer to the Farm</option>
                              <option value="500">Assing 500 Farmer to the Farm</option>
                              <option value="1000">Assing 1000 Farmer to the Farm</option>
                            </select>
                          <button type="submit" class="btn btn-primary ">Assign</button>
                      </form>
                      <h6>Unassign Farmers</h6>
                      <form action="{{ url_for('unassin_farmers') }}" method="POST">
                          <select name="unassin_farmers" >
                              <option value="1">Unssing 1 Farmer to the Farm  </option>
                              <option value="10">Unssing 10 Farmer to the Farm</option>
                              <option value="50">Unssing 50 Farmer to the Farm</option>
                              <option value="100">Unssing 100 Farmer to the Farm</option>
                              <option value="500">Ussing 500 Farmer to the Farm</option>
                              <option value="1000">Unssing 1000 Farmer to the Farm</option>
                            </select>
                          <button type="submit" class="btn btn-primary ">Assign</button>
                      </form>
                  </div>
        </div>


        <div class=" col-sm-12 col-md-12 col-lg-4">
          <div>
              <h2 class="game_main_image_title"> Farm </h2>
              <h2 class="village_image_city_level"> Level: {{village_data.farm}}</h2>
              <a  href="{{url_for('village')}}"><img src="static/images/cow_image_1.jpg" alt="farm image"></a>
          </div>
  
 
      </div>
          
</div>
<a style="position: relative; float: right; margin-bottom: 50px" class="btn btn-primary " href="{{url_for('village')}}"> Go back to Main</a>

</div>




 
{% endblock %}